<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the demo {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<section class="container">
  <div class="d-lg-flex content-block-overlap image-right mb-3">
		<img class="img-fluid mh-360" alt="Tikkie voor bedrijven" src="https://www.abnamro.nl/nl/images/Content/OneShop/000_Homepage/000_Afbeeldingen/AfbOS_default_banner_zonder_sticker_860x538.png">
    <div class="em-shadow-well bg-white p-default">
        <h3>Ontdek ook het gemak van Tikkie voor bedrijven</h3>
        <p></p><p>Ook 80% van uw betalingen binnen één dag ontvangen? Vervang uw factuur door een Tikkie en loop uw betaalachterstanden in. Enthousiast? Gebruik Tikkie nu ook voor uw bedrijf. Meld u direct online aan.</p><p></p>
        <div class="d-flex justify-content-end">
									 <a href="zakelijk/producten/betalen/tikkie-voor-bedrijven.html" class="btn btn-secondary d-block d-md-inline-block mt-3" data-title="Meer informatie" role="button">Meer informatie</a>
									 <a href="zakelijk/producten/betalen/tikkie-voor-bedrijven.html" class="btn btn-base d-block d-md-inline-block mt-3 ml-3" data-title="Meer informatie" role="button">Nu aanmelden</a>
            </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
