<!--The content below is only a placeholder and can be replaced.-->
<section class="container">
  <div class="d-lg-flex content-block-overlap image-right mb-3">
		<img class="img-fluid mh-360" alt="Tikkie voor bedrijven" src="./images/Content/OneShop/000_Homepage/000_Afbeeldingen/AfbOS_default_banner_zonder_sticker_860x538.png">
    <div class="em-shadow-well bg-white p-default">
        <h3>Ontdek ook het gemak van Tikkie voor bedrijven</h3>
        <p></p><p>Ook 80% van uw betalingen binnen één dag ontvangen? Vervang uw factuur door een Tikkie en loop uw betaalachterstanden in. Enthousiast? Gebruik Tikkie nu ook voor uw bedrijf. Meld u direct online aan.</p><p></p>
        <div class="d-flex justify-content-end">
									 <a href="zakelijk/producten/betalen/tikkie-voor-bedrijven.html" class="btn btn-secondary d-block d-md-inline-block mt-3" data-title="Meer informatie" role="button">Meer informatie</a>
                                                <button data-target="#modal-tcm:313-1738589_right" class="btn btn-base d-block d-md-inline-block mt-3 ml-3">
                                                    Nu aanmelden
                                                </button>
            </div>
    </div>
  </div>
<!-- Emerald Modal -->
                    <aab-custom-modal id="modal-tcm:313-1738589_right">
                        <div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content border-0 em-shadow-modal">
                                    <div class="modal-header p-default">
                                        <h2 class="modal-title d-none d-md-block" id="myModalLabel">Tikkie voor bedrijven aanvragen</h2>
                                        <h4 class="modal-title d-md-none" id="myModalLabel">Tikkie voor bedrijven aanvragen</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" class="em-icon em-icon-size-3 em-icon-shapes-close-large-gray"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body p-default">
                                        <p>
                                            <strong>Bent u al klant?</strong><br>Als u inlogt bij Internet Bankieren scheelt dat wat invulwerk.
                                        </p>
                                        <div class="d-flex flex-wrap">
                                            <div class="button-content m-auto py-3 text-center">
                                                <span class="em-icon-size-9 em-icon-product-agree mx-auto mb-4 d-none d-md-block"></span>
                                                <p class="em-text-intro d-none d-md-block">Ik ben een nieuwe klant</p>
					            <a href="zakelijk/producten/betalen/tikkie-voor-bedrijven/aanmelden.html" class="btn btn-base">Verder gaan als nieuwe klant</a>
                                            </div>

                                            <span class="border-left my-3 d-none d-lg-block"></span>
                                            <div class="divider-text d-lg-none m-auto w-100 ">
                                                <p><span>Of</span></p>
                                            </div>

                                            <div class="button-content m-auto py-3 text-center">
                                                <span class="em-icon-size-9 em-icon-product-e-identifier mx-auto mb-4 d-none d-md-block"></span>
                                                <p class="em-text-intro d-none d-md-block">Ik ben een bestaande klant</p>
					            <a href="https://www.abnamro.nl/portalserver/mijn-abnamro-zakelijk/betalen/tikkie-zakelijk/aanvragen.html " class="btn btn-primary" target="_blank"><span class="float-left mr-2 em-icon-size-3 em-icon-tools-lock-black"></span>Inloggen bij Internet Bankieren</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aab-custom-modal>
</section>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<router-outlet></router-outlet>
